apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: video-call-prod

# 1. Định nghĩa thư mục gốc chứa các Charts
helmGlobals:
  chartHome: ../../charts

helmCharts:
  # --- Backend ---
  - name: video-call-web       # Chỉ cần tên thư mục (nằm trong chartHome)
    releaseName: backend-app
    version: 0.1.0
    valuesFile: backend-values.yaml
    # KHÔNG CÓ dòng repo
    
  # --- Frontend ---
  - name: video-call-web       # Tái sử dụng chart cùng tên
    releaseName: frontend-app
    version: 0.1.0
    valuesFile: frontend-values.yaml
    # KHÔNG CÓ dòng repo

images:
  - name: backend-app
    newName: asia-southeast1-docker.pkg.dev/helical-chemist-471003-u9/video-call-repo/video-call-backend
    newTag: "initial-tag"
    
  - name: frontend-app
    newName: asia-southeast1-docker.pkg.dev/helical-chemist-471003-u9/video-call-repo/video-call-frontend
    newTag: "initial-tag"