apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: video-call-prod

# 1. Định nghĩa thư mục gốc chứa các Charts
helmGlobals:
  chartHome: ../../charts

  # --- Backend ---
    # KHÔNG CÓ dòng repo
    
  # --- Frontend ---
helmCharts:
- name: video-call-web
  releaseName: backend-app
  valuesFile: backend-values.yaml
  version: 0.1.0
- name: video-call-web
  releaseName: frontend-app
  valuesFile: frontend-values.yaml
  version: 0.1.0
    # KHÔNG CÓ dòng repo

    
images:
- name: backend-app
  newName: asia-southeast1-docker.pkg.dev/helical-chemist-471003-u9/video-call-repo/video-call-backend
  newTag: 4281ca3
- name: frontend-app
  newName: asia-southeast1-docker.pkg.dev/helical-chemist-471003-u9/video-call-repo/video-call-frontend
  newTag: 4281ca3
